.main {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background: radial-gradient(circle at center, transparent 0%, rgba(0, 0, 0, 0.9) 90%), url("../../assessts/images/nebula.png");
    background-size: cover;
}

.mask,
.normal {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.mask {
    mask-image: url(../../assessts/images/test-mask.svg);
    position: absolute;
    overflow: hidden;
    mask-repeat: no-repeat;
    mask-size: 800px;
    background-color: #eb5939;
    color: #0d0d0d !important;
    transition: ease-out 0.2s; 
}