
body,
html {
  font-smoothing: antialiased !important;
  -webkit-font-smoothing: antialiased !important;
  background: #0d0d0d;
  color: #b7ab98;
  font-family: Avant Garde, sans-serif, serif;
  font-size: calc(7.92453px + 1.88679vw);
  font-weight: 400;
  line-height: 110%;
}
@media (min-width: 768px) {
  body,
  html {
    font-size: calc(8px + 0.78125vw);
    min-height: 100%;
    overscroll-behavior-y: none !important;
    scroll-behavior: unset !important;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
  }
}
@media (min-width: 1200px) {
  body,
  html {
    font-size: 0.9259259259vw;
  }
}

strong {
    font-weight: 700;
    color: #eb5939;
  }